.carouselImage {
  height: 100px;
  width: 100px
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

.left-arrow, .right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background-color: #FBD63F;
  border: 1px solid #ddd;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}

@media (hover: none) and (pointer: coarse) {
  .left-arrow, .right-arrow {
      display: none;
  }
}

#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
}
#nav li {
  float: left;
}
#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  border-right: 1px solid #ccc;
}

button {
  background-color:#FBD63F;
  border: none;
  border-radius: 5px;
  color:#000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 8px 15px;
}

.imgFormat {
  border-radius: 5px;
}

.bigText {
  font-family: 'Major Mono Display', monospace;
}

.subText {
  color:#899499;
}

/* Either 3 or 5 */
.ratingsContainer {
  display: grid;
  grid-template-rows: .2fr .1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr;
  padding-left: 200px;
  padding-right: 200px;
  row-gap: 10px;
  column-gap: 30px;
  grid-template-areas:
    "stars filter"
    "stars content"
    "reviews content"
    "reviews reviewAction"
  ;
  overflow-y: auto;
}

.stars {
  grid-area: stars;
  color: #3a3b3bf6;
}

.filter {
  grid-area: filter;
  font-weight: bold;
}

.temp {
  grid-area: temp;
}

.reviews {
  grid-area: reviews;
}


/* display: grid;
grid-template-areas:
"review_summary"
; */

.content {
  justify-content: start;
  grid-area: content;
  overflow-y: auto;
  height: 650px;
}

.reviewAction {
  grid-area: reviewAction;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  display: grid;
  grid-template-areas:
  "header header"
  "subheader subheader"
  "body body"
  "button button"
  ;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-content {
  width: 400px;
  height: 580px;
  background-color: rgb(255, 255, 255);
  transform: translateY(-200px);
  transition: all 0.4s ease-in-out;
  border: 3px solid #FBD63F;
  overflow-y: auto;
}

.modal.show .modal-content {
  transform: translateY(0);
}

.modal-header {
  padding: .5px;
  background-color:#fbd53fbd;
  color: black;
}

.modal-title {
  margin: 0;
  text-align: center;
  grid-area: header;
}

.modal-subtitle {
  margin: 0;
  text-align: center;
  grid-area: subheader;
}

.modal-body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  grid-area: body;
  background-color: #f8e07ebd;
  display: grid;
  gap: 5px;
}

.modal-footer {
  grid-area: button;
  text-align: center;
  background-color: #fbd53fbd;
  gap: 5px;
}

.modal-nickname {
  grid-area: nickname;
  display: block;
  background-color: rgb(224, 224, 240);
}

.modal-email {
  grid-area: email;
  background-color: aquamarine;
}

.modal-rating {
  grid-area: rating;
}

.modal-recommend {
  grid-area: recommend;
}

.modal-characteristics {
  grid-area: characteristics;
}

.modal-summary {
  grid-area: summary;
}

.product-star-icon {
  display: flex;
}

.modal-body {
  grid-area: body;
}

.modal-counter {
  grid-area: counter;
}

.input-text-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-ratings-characteristics {
  /* position: relative; */
  display: flex;
  /* flex-direction: column; */
}

.modal-ratings-characteristics-radio {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.submitButton {
  background-color: #e6ba0a;
}

#ratingsSearch {
  outline: none;
  font-weight: bold;
  border: none;
  font-size: 15px;
  font-style: italic;
  border-bottom: solid black;
}

.ratings-content-container {
  grid-template-rows: 1fr 1fr 1.5fr minmax(0fr, 1.5fr) minmax(0fr, 1.5fr) 3fr 1fr;
  grid-template-columns: 2fr 2fr;
  padding-top: 10px;
  gap: 2px;
  border-bottom: solid thin black;
  display: grid;
  grid-template-areas:
  "stars username"
  "summary summary"
  "body body"
  "recommend recommend"
  "response response"
  "image image"
  "helpful helpful"
  ;
  overflow-y: auto;
}

.ratings-content-stars {
  grid-area: stars;
  padding-bottom: 5px;
}

.ratings-content-username {
  grid-area: username;
  text-align: right;
}

.ratings-content-summary {
  grid-area: summary;
  font-weight: bold;
}

.ratings-content-body {
  grid-area: body;
}

.ratings-content-recommend {
  grid-area: recommend;
}

.ratings-content-response {
  grid-area: response;
  background-color: lightgray;
}

.ratings-content-image-container {
  grid-area: image;
  grid-template-columns: 1fr;
  grid-template-areas:
  "display-image"
}
.ratings-content-helpful {
  grid-area: helpful;
}

.ratings-content-image {
  grid-area: display-image;
  height: 75px;
  width: 75px;
  border-radius: 40%;
  border: 1px solid #e6ba0a;
  padding-right: 20px;
}

.ratings-header-text {
  font-size: 16px;
  font-family: 'Major Mono Display', monospace;
}

.ratings-header-container {
  padding-top: 15px;
  grid-template-columns: 1fr 3fr;
  display: grid;
  grid-template-areas:
    "header-figure header-stars "
  ;
}

.ratings-header-figure {
  grid-area: header-figure;
  font-size: 36px;
}

.ratings-header-stars {
  grid-area: header-stars;
}

.ratings-summary-review {
  display: grid;
  grid-template-rows: 3fr 30fr 30fr;
  grid-template-areas:
    "review_header"
    "review_chart"
    "review_slider"
  ;
}

.ratings-summary-text {
  font-size: 12px;
  grid-area: review_header;
}

.ratings-summary-chart {
  grid-area: review_chart;
}

/* grid-template-columns: 1fr 3fr; */
/* "4-Star-Title 4-Star-Graph"
    "3-Star-Title 3-Star-Graph"
    "2-Star-Title 2-Star-Graph"
    "1-Star-Title 1-Star-Graph" */
.summary-barchart-container {
  /* padding-top: 15px;
  padding-bottom: 15px;
  gap: 10px; */
  text-decoration: underline;
  display: grid;
  grid-template-areas:
    "5-Star-Container"
    "4-Star-Container"
    "3-Star-Container"
    "2-Star-Container"
    "1-Star-Container"
    ;
}

.five-star-container {
  grid-area: 5-Star-Container;
  grid-template-columns: 1fr 4fr;
  text-align: center;
  display: grid;
  grid-template-areas:
  "5-Star-Title 5-Star-Graph-One"
  ;
}

.four-star-container {
  grid-area: 4-Star-Container;
  grid-template-columns: 1fr 4fr;
  display: grid;
  grid-template-areas:
  "4-Star-Title 4-Star-Graph-One"
  ;
}

.three-star-container {
  grid-area: 3-Star-Container;
  grid-template-columns: 1fr 4fr;
  display: grid;
  grid-template-areas:
  "3-Star-Title 3-Star-Graph-One"
  ;
}

.two-star-container {
  grid-area: 2-Star-Container;
  grid-template-columns: 1fr 4fr;
  display: grid;
  grid-template-areas:
  "2-Star-Title 2-Star-Graph"
  ;
}

.one-star-container {
  grid-area: 1-Star-Container;
  grid-template-columns: 1fr 4fr;
  display: grid;
  grid-template-areas:
  "1-Star-Title 1-Star-Graph"
  ;
}


.five-star-title {
  grid-area: 5-Star-Title;
  display: inline-block;
  line-height: normal;
}

.four-star-title {
  grid-area: 4-Star-Title;
}

.three-star-title {
  grid-area: 3-Star-Title;
}

.two-star-title {
  grid-area: 2-Star-Title;
}

.one-star-title {
  grid-area: 1-Star-Title;
}

.five-star-graph-one {
  grid-area: 5-Star-Graph-One;
}

.four-star-graph-one {
  grid-area: 4-Star-Graph-one;
}

.three-star-graph-one {
  grid-area: 3-Star-Graph-one;
}

.two-star-graph {
  grid-area: 2-Star-Graph;
}

.one-star-graph {
  grid-area: 1-Star-Graph;
}

.ratings-summary-slider-container {
  position: relative;
  font-family: 'Major Mono Display', monospace;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  position: relative;
  z-index: -1;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  position: relative;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
}

.ticks {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 32px;
  z-index: 1;
}

.tick {
  position: relative;
  display: flex;
  justify-content: center;
  width: 8px;
  background: white;
  height: 25px;
  line-height: 35px;
  z-index: -1;
}

.slider-text {
  font-size: 9px;
  padding-top: 5px;
  display: grid;
  grid-template-areas:
  "text-one text-two text-three"
  ;
}

.slider-one {
  grid-template-areas: text-one;
  text-align: left;
}

.slider-two {
  grid-template-areas: text-two;
  text-align: center;
}

.slider-three{
  grid-template-areas: text-three;
  text-align: right;
}

.modal-image {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  display: grid;
  grid-template-areas:
  "image-body"
  "image-button"
  ;
}

.modal-image.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-image-content {
  width: 350px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  transform: translateY(-200px);
  transition: all 0.4s ease-in-out;
  border: 3px solid #FBD63F;
  overflow-y: auto;
}

.modal-image.show .modal-image-content {
  transform: translateY(0);
}

.modal-image-body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  grid-area: image-body;
  background-color: #f8e07ebd;
  display: grid;
  gap: 5px;
}

.ratings-modal-image {
  height: 350px;
  width: 350px;
}

.modal-image-footer {
  grid-area: image-button;
  text-align: center;
  background-color: #fbd53fbd;
  gap: 5px;
}